.editor {
  background-color: #fff;
  border: 3px solid #0d0d0d;
  border-radius: 0.75rem;
  color: #0d0d0d;
  display: flex;
  flex-direction: column;
  max-height: 26rem;
}

.editor__content {
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem;
}

.editor__content h1 {
  font-size: var(--size-8);
}

.editor__content h2 {
  font-size: var(--size-6);
}

.editor__content h3 {
  font-size: var(--size-5);
}

.editor__content h4 {
  font-size: var(--size-4);
}

.editor__content h5 {
  font-size: var(--size-3);
}

.editor__content h6 {
  font-size: var(--size-2);
}

.editor__content:focus-visible {
  outline: none;
}
